@page
@model LoginModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Email" type="email" class="validate" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Password" type="password" class="validate" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                </div>

                <div class="row padding-left-10px">
                    <p>
                        <label>
                            <input asp-for="Input.RememberMe" type="checkbox" class="filled-in" />
                            <span asp-for="Input.RememberMe">
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </span>
                        </label>
                    </p>
                </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

                <div class="row center">
                    <a asp-page="./ForgotPassword">Forgot your password?</a>
                </div>

                @if ((Model.ExternalLogins?.Count ?? 0) > 0)
                {
                    <div class="row center">
                        <p>Use another service to log in</p>
                        <form id="external-account"
                              asp-page="./ExternalLogin"
                              asp-route-returnUrl="@Model.ReturnUrl"
                              method="post">
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit"
                                        class="btn blue lighten-1"
                                        name="provider"
                                        value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account">
                                    @provider.DisplayName
                                </button>
                            }
                        </form>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}